/* import for notification message style */
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

BODY,TD,input,div,form,TEXTAREA,center,option,pre,blockquote {font-size:9pt; color:#666666; font-family:±¼¸²;}
TD {line-height:140%}
body {
	background-color:#000000;
	/* no more support for scrollbar style
	scrollbar-face-color:#000000;
	scrollbar-highlight-color:#000000;
	scrollbar-3dlight-color:#555555;
	scrollbar-shadow-color:#000000;
	scrollbar-darkshadow-color:#404040;
	scrollbar-track-color:#000000;
	scrollbar-arrow-color:#555555;
	*/
	text-align:center;
}
A:link    {color:#666666; text-decoration:none; font-family:±¼¸²; font-size:9pt;}
A:visited {color:#666666; text-decoration:none; font-family:±¼¸²; font-size:9pt;}
A:active  {color:#ff6666; text-decoration:none; font-family:±¼¸²; font-size:9pt;}
A:hover  {color:#666666; text-decoration:none; font-family:±¼¸²; font-size:9pt;}

#container {
	width:846px;
	margin:0px auto;
}

#header {
	display:none;
}
#sidebar {
	margin:20px 0px;
	text-align:left;
	width:190px;
	float:left;
}
#content {
	border-left:1px solid #151515;
	border-right:1px solid #151515;
	float:right;
	width:645px;
}

#submenu {
	border:1px solid #151515;
	margin:30px 0px;
}
#record {
	width:100%;
}

.outter {
	list-style-type:none;
	margin:0px 0px;
	color:#A30;
	font-size:12px;
	font-weight:bold;
}
.inner {
	color:#A50;
	margin:0px 0px;
	list-style-type:square;
	list-style-position:inside;
	font-weight:normal;
}

#sidebar ul {
	background:#111111;
	border:solid 1px #222;
	padding:10px;
	margin:10px 5px 5px 5px;
	clear:both;
}
#sidebar ul ul {
	margin:0px 0px 0px 0px;
	padding:10px 0px 0px 0px;
	border:solid 1px #111111;
	overflow:hidden;
}
#sidebar ul ul li {
	float:left;
}
#sidebar ul ul li a {
	margin-left:3px;
	padding:10px 2px;
	line-height:4em;
	background-color:#333;
}

@media all and (min-width:768px) 
{
	#container {
		width:846px;
	}
	
	#sidebar {
		width:190px;
		float:left;
	}
	#content {
		float:right;
		width:645px;
	}
	
	#sidebar ul ul {
		overflow:hidden;
	}
	#sidebar ul ul li {
		clear:both;
	}
	#sidebar ul ul li a {
		margin:0px;
		padding:0px;
		line-height:1em;
		background-color:#111;
	}
}

/* notification message style */
.my-notify-info, .my-notify-success, .my-notify-warning, .my-notify-error {
    padding:10px;
    margin:10px 0;
 
}
.my-notify-info:before, .my-notify-success:before, .my-notify-warning:before, .my-notify-error:before {
    font-family:FontAwesome;
    font-style:normal;
    font-weight:400;
    speak:none;
    display:inline-block;
    text-decoration:inherit;
    width:1em;
    margin-right:.2em;
    text-align:center;
    font-variant:normal;
    text-transform:none;
    line-height:1em;
    margin-left:.2em;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.my-notify-info:before {
    content:"\f05a";
}
.my-notify-success:before {
    content:'\f00c';
}
.my-notify-warning:before {
    content:'\f071';
}
.my-notify-error:before {
    content:'\f057';
}
.my-notify-info {
    color:#00529B;
    background-color:#BDE5F8;
}
.my-notify-success {
    color:#4F8A10;
    background-color:#DFF2BF;
}
.my-notify-warning {
    color:#9F6000;
    background-color:#FEEFB3;
}
.my-notify-error {
    color:#D8000C;
    background-color:#FFBABA;
}